@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Satisfy&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


body{
  font-family: "Macondo", serif;

}

.font-satisfy{
  font-family: "Satisfy", serif;
}

.main-bg{
  background-image: url('./../public/Abstract\ Paper.svg');
  height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
  
}

